.forum_269 div.threadbar.top {
    box-shadow: none;
    background: transparent;
    border-width: 4px 0 3px 0;
    border-color: gray;

}
.forum_269 div.threadbar.bottom {
    box-shadow: none;
    background: transparent;
    border-width: 4px 0 3px 0;
    border-color: gray;

}


.forum_269 #container {
    padding: 0;
    background-color: #e8e8e8;

}

.forum_269 #thread td.userinfo .registered {
    font-family: Georgia !important;

    
}
.forum_269 #thread td.userinfo .registered::before {
    content: "Contributor Since ";

}

.forum_269 #thread td.postbody {
        font-family: Georgia !important;
        color: #444 !important;
}

.forum_269 td.postlinks ul.profilelinks li a {
    border-radius: 0;
    text-transform: uppercase;
    color: #666;
}

.forum_269 #thread table.post {
    border-width: 1px 0 0 0;
}
.forum_269 #nav_purchase {
    background: transparent;
    color: #666;
}
.forum_269 .showthread div.breadcrumbs a {
    color: #555;
    text-transform: uppercase;
    
}
.forum_269 #nav_purchase {
    background: transparent;
    color: #666;
    text-shadow: none;
    text-transform: uppercase;
    border: none;
    box-shadow: none;
}
.forum_269 #nav_purchase li a {
    color: #666;
    text-shadow: none;
    text-transform: uppercase;
    text-decoration: underline;
}
.forum_269 #navigation {
    background: transparent;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
}
.forum_269 .showthread .navigation {
    color: #666;
    background: transparent;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
}
.forum_269 .showthread .navigation a {
    color: #666;
    background: transparent;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    text-decoration: underline;
    border-radius: 0;
}
.forum_269 .showthread .breadcrumbs span.mainbodytextlarge a.index, div.pages a, div.pages span.disabled, div.pages a:hover, .altcolor2 .bbc-block, .altcolor1 .bbc-block {
    border-radius: 0;
    box-shadow: none;
}

.forum_269 #searchboxes {
    padding: 0;
}


.forum_269 #forum td.replies a, #forum td.author a, #forums td.moderators a, #navigation a {
    color: #666;
    text-decoration: underline;
}

.forum_269 .postbody a.quote_link:before {
  content:"Sources close to ";
  color: black
}

.forum_269 .postbody a.quote_link:after {
  content:", speaking on the condition of anonymity stated:";
  position: relative;
  right: 3.5em;
  color:black;
  background-color: #FAFAFA;
  width: 10px;
  height: 1em;
}
